In [1]:
#python Object Orinted programing

In [3]:
#python Classes

In [41]:
class phone:
    def make_call(self):
        print("making phone call")
    def play_game(self):
        print("playing game")

In [43]:
p1 = phone()

In [45]:
p1.make_call()

making phone call

In [47]:
p1.play_game()

playing game

In [49]:
#adding parameters the class

In [61]:
class phone:
    def set_color(self,color):
        self.color=color
        
    def set_cost(self,cost):
        self.cost=cost
        
    def show_color(self):
        return self.color

    def show_cost(self):
        return self.cost
        
    def make_call(self):
        print("making phone call")
        
    def play_game(self):
        print("playing game")

In [63]:
p1 = phone()

In [65]:
p1.set_color("rad")

In [69]:
p1.set_cost(21000)

In [71]:
p1.show_color()

'rad'

In [73]:
p1.show_cost()

21000

In [75]:
#creating a class with constructor

In [148]:
 class Employee:
     def __init__(self,name,age,salary,grender):
         self.name = name
         self.age = age
         self.salary = salary
         self.gender = gender

     def show_employee_details(self):
         print("name of employe is",self.name)
         print("age of employe is",self.age)
         print("salary of employ is",self.salary)
         print("gender of employ is",self.gender)

con1 = Employee("pratik",21,60000,"male")

con1.show_employee_details()

NameError: name 'gender' is not defined

In [104]:
con1 = Employee()

In [106]:
con1

In [112]:
con1 = Employee("pratik",21,60000,"male")

TypeError: Employee() takes no arguments

In [114]:
class Person:
    def __init__(self, name, age):
        self.name = name      # Instance variable for name
        self.age = age        # Instance variable for age

    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")

# Creating an object of the class
person1 = Person("Alice", 30)

# Calling the method
person1.greet()

Hello, my name is Alice and I am 30 years old.

In [118]:
class Employee:
    def __init__(self, name, age, salary, gender):  # fixed __init__ and "gender"
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender

    def show_employee_details(self):  # method name uses consistent lowercase
        print("Name of employee is", self.name)
        print("Age of employee is", self.age)
        print("Salary of employee is", self.salary)
        print("Gender of employee is", self.gender)

# Create an object
con1 = Employee("pratik", 21, 60000, "male")

# Call the method
con1.show_employee_details()

Name of employee is pratik
Age of employee is 21
Salary of employee is 60000
Gender of employee is male

In [122]:
#inheritance in python

In [142]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage=mileage
        self.cost=cost

    def show_vehicle(self):
        print("i am a vehicle")
        print("mileage of the vehicle is",self.mileage)
        print("cost of the vehicle is",self.cost)

In [136]:
v1 = Vehicle(60, 90000)

In [21]:
class Vehicle:
    def __init__(self, mileage, cost):  # fixed here
        self.mileage = mileage
        self.cost = cost

    def show_vehicle(self):
        print("I am a vehicle")
        print("Mileage of the vehicle is", self.mileage)
        print("Cost of the vehicle is", self.cost)

# Example usage:
v1 = Vehicle(15, 500000)
v1.show_vehicle()

I am a vehicle
Mileage of the vehicle is 15
Cost of the vehicle is 500000

In [23]:
class Car(Vehicle):
    def show_car(self):
        print("i am car")

In [25]:
c1 = Car(200,158455)

In [27]:
c1.show_car()

i am car

In [31]:
#over-riding init method

In [55]:
class Vehicle:
    def __init__(self, mileage, cost):
        self.mileage = mileage
        self.cost = cost

    def show_vehicle(self):
        print("I am a vehicle")
        print("Mileage of the vehicle is", self.mileage)
        print("Cost of the vehicle is", self.cost)

class Car(Vehicle):
    def __init__(self, mileage, cost, tyres, hp):
        super().__init__(mileage, cost)
        self.tyres = tyres
        self.hp = hp

    def show_car_details(self):
        print("I am a car")
        print("Number of tyres:", self.tyres)
        print("Horsepower:", self.hp)

In [59]:
c1 = Car(30,8555,6,8555)

In [61]:
c1.show_car_details()

I am a car
Number of tyres: 6
Horsepower: 8555